.footer {
  width: 100%;
  background: #ffffff;
  color: #111111;
  padding: 155px 24px 30px;
}

.footer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


/* MAIN */

.footer-main {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 390px;
  gap: 80px;
  min-height: 280px;
}


/* MESSAGE */

.footer-message {
  max-width: 760px;
}

.footer-message h2 {
  margin: 0;

  color: #111111;

  font-size: clamp(34px, 3.2vw, 48px);
  line-height: 1.08;
  font-weight: 500;
  letter-spacing: -0.045em;
}

.footer-message p {
  margin: 8px 0 0;

  color: #89909a;

  font-size: clamp(30px, 2.8vw, 43px);
  line-height: 1.08;
  font-weight: 450;
  letter-spacing: -0.045em;
}


/* LINKS */

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding-top: 3px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-column h3 {
  margin: 0 0 8px;

  color: #111111;

  font-size: 14px;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.footer-column a {
  color: #747b84;

  font-size: 14px;
  line-height: 1.15;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: -0.015em;

  transition: color 0.2s ease;
}

.footer-column a:hover {
  color: #111111;
}


/* BOTTOM */

.footer-bottom {
  margin-top: 70px;
  padding-top: 25px;

  border-top: 1px solid #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  color: #111111;
  text-decoration: none;

  font-size: 22px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.06em;
}

.footer-logo-mark {
  font-size: 19px;
  line-height: 1;
}

.footer-bottom p {
  margin: 0;

  color: #74808d;

  font-size: 13px;
  line-height: 1;
  letter-spacing: -0.015em;
}


/* TABLET */

@media (max-width: 900px) {
  .footer {
    padding-top: 110px;
  }

  .footer-main {
    grid-template-columns: 1fr;
    gap: 70px;
  }

  .footer-links {
    max-width: 520px;
  }
}


/* MOBILE */

@media (max-width: 700px) {
  .footer {
    padding: 80px 20px 25px;
  }

  .footer-main {
    min-height: auto;
    gap: 55px;
  }

  .footer-message h2 {
    font-size: 34px;
  }

  .footer-message p {
    font-size: 30px;
  }

  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer-column {
    gap: 13px;
  }

  .footer-column h3,
  .footer-column a {
    font-size: 13px;
  }

  .footer-bottom {
    margin-top: 70px;
    padding-top: 20px;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-bottom p {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .footer-main {
    gap: 50px;
  }

  .footer-message h2 {
    font-size: 30px;
  }

  .footer-message p {
    font-size: 27px;
  }

  .footer-links {
    gap: 12px;
  }

  .footer-bottom {
    align-items: flex-start;
    gap: 18px;
    flex-direction: column;
  }
}